<div class='BUeYLmQ'>
  <div class='BUeYLxs'>
    <div class='BUeYLxS'>
      <div class='BUeYLt2 BUeYLmj BUeYLt2_BUeYL3L BUeYLt2_BUeYL3U BUeYLt2_BUeYL3Y BUeYLti_BUeYL3l'>
        <div class='BUeYL37 BUeYL37_BUeYL3B'>
          <div class='thread thread_fluid thread_rounded thread_compressed thread_direction-next'
               data-transaction-category='registration'>
            <div class='thread__header'>
              <div class='thread__meta-header'>
                <h2 class='thread-subject thread-subject_pony-mode' style='text-align: center;'>Подтвердите адрес
                  электронной почты</h2>
              </div>
            </div>
            <div
              class='thread__letter thread__letter_expanded thread__letter_expanded-next thread__letter_first thread__letter_last thread__letter_single'
              data-id='15947003380590152877'>
              <div
                class='letter letter_priority_3 letter_unread_false letter_attach_false letter_single letter_first letter_last letter_fluid letter_sticky letter_native-sticky letter_hover-support letter_expanded-next letter_light-mode'>
                <div class='letter__body'>
                  <div class='letter-body'>
                    <div class='letter-body__body'>
                      <div class='letter-body__body-wrapper'>
                        <div class='letter-body__body-content' tabindex='-1'>
                          <div class='html-parser'>
                            <div class='html-fishing'>
                              <div class='html-expander'>
                                <div class='js-helper js-readmsg-msg'>
                                  <div>
                                    <div id='style_15947003380590152877_BODY'>
                                      <div class='cl_028603'>
                                        <table class='body_mr_css_attr'
                                               style="border-collapse: separate; background-color: #f6f6f6; background-image: url('https://proxy.imgsmail.ru?e=1644256533&amp;email=promaster61%40mail.ru&amp;flags=0&amp;h=gUiIJF2sYqB_gxNxoIENIg&amp;is_https=1&amp;url173=c3RhdGljMi5jZG4udWJpLmNvbS9lbWFpbC9pbWFnZXMvZ3JleS1iYWNrZ3JvdW5kLnBuZw~~'); background-repeat: repeat; width: 100%;"
                                               border='0' cellspacing='0' cellpadding='0'>
                                          <tbody>
                                          <tr>
                                            <td
                                              style='font-family: Verdana, sans-serif; font-size: 14px; vertical-align: top;'>
                                              &nbsp;
                                            </td>
                                            <td class='container_mr_css_attr'
                                                style='font-family: Verdana, sans-serif; font-size: 14px; vertical-align: top; display: block; max-width: 750px; padding: 10px; width: auto !important; margin: 0 auto !important;'>
                                              <div class='content_mr_css_attr'
                                                   style='box-sizing: border-box; display: block; margin: 0 auto; max-width: 750px; padding: 10px;'>
                                                <table width='100%'>
                                                  <tbody>
                                                  <tr>
                                                    <td width='100%'>
                                                      <table border='0' width='100%' cellspacing='0' cellpadding='0'>
                                                        <tbody>
                                                        <tr>
                                                          <td>
                                                            <h1 style='text-align: center;'>SHADOW FORUM</h1>
                                                          </td>
                                                        </tr>
                                                        </tbody>
                                                      </table>
                                                    </td>
                                                  </tr>
                                                  </tbody>
                                                </table>
                                                <table class='main_mr_css_attr'
                                                       style='border-collapse: separate; background: #fff; border-radius: 0px; width: 100%; margin-bottom: 30px;'>
                                                  <tbody>
                                                  <tr>
                                                    <td class='wrapper_mr_css_attr'
                                                        style='font-family: Verdana, sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 20px;'>
                                                      <table style='border-collapse: separate; width: 100%;' border='0'
                                                             cellspacing='0' cellpadding='0'>
                                                        <tbody>
                                                        <tr>
                                                          <td
                                                            style='font-family: Verdana, sans-serif; vertical-align: top;'>
                                                            <p
                                                              style='font-family: Verdana, sans-serif; font-size: 14px; font-weight: normal; margin: 0px 0px 15px; list-style-type: disc;'>
                                                              Приветствуем,&nbsp;</p>
                                                            <p
                                                              style='font-family: Verdana, sans-serif; font-size: 14px; margin: 0px 0px 15px; list-style-type: disc;'>
                                                              Вы зарегестрировались аккаунт на Shadow Forum c помощью
                                                              вашей электронной почты. Для подтверждения почты перейдите
                                                              по <a
                                                              title='Ссылка для подтверждения аккаунта.' href={{link}}
                                                              target='_blank'>ссылке</a>.</p>
                                                            <p
                                                              style='font-family: Verdana, sans-serif; font-size: 14px; font-weight: normal; margin: 0px 0px 15px; list-style-type: disc;'>
                                                              Благодаря подтверждению адреса электронной почты защита
                                                              вашей учетной записи Shadow Forum усиливается, а вы
                                                              получаете доступ к системе рассылок и специальным
                                                              предложениям.</p>
                                                            <p
                                                              style='font-family: Verdana, sans-serif; font-size: 14px; font-weight: bold; margin: 0; margin-bottom: 15px; list-style-type: disc;'>
                                                              Если это не вы:</p>
                                                            <p style='margin-bottom: 15px; list-style-type: disc;'>
                                                              Безопасность вашей учетной записи может быть под угрозой.
                                                              Рекомендуем вам усилить защиту.</p>
                                                          </td>
                                                        </tr>
                                                        </tbody>
                                                      </table>
                                                    </td>
                                                  </tr>
                                                  </tbody>
                                                </table>
                                                <div class='footer_mr_css_attr'
                                                     style='clear: both; padding-top: 10px; text-align: center; width: 100%;'>
                                                  &nbsp;
                                                </div>
                                              </div>
                                            </td>
                                            <td
                                              style='font-family: Verdana, sans-serif; font-size: 14px; vertical-align: top;'>
                                              &nbsp;
                                            </td>
                                          </tr>
                                          </tbody>
                                        </table>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class='BUeYLvI BUeYLvI_BUeYLvQ'>&nbsp;</div>
            </div>
            <div class='thread__rounding-footer'>&nbsp;</div>
            <div class='thread__footer'>
              <div class='thread__kaspersky'>
                <div class='react-async'>&nbsp;</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
